@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --body-color: #f3f3f3;
  --grey-color: #555555;
  --dark-grey-color: #474646;
  --accent-color: #22c55e;
  --main-delay: 0.3s;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}
p {
  color: var(--grey-color);
  margin: 0;
}

body {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--body-color);
}
.btn-main,
.btn-sec,
.btn-trans {
  background: #000;
  color: #fff;
  outline: none;
  border: 2px solid #000000;
  padding: 0.9rem 1rem;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: background-color var(--main-delay), color var(--main-delay);
  -webkit-transition: background-color var(--main-delay),
    color var(--main-delay);
  -moz-transition: background-color var(--main-delay), color var(--main-delay);
  -ms-transition: background-color var(--main-delay), color var(--main-delay);
  -o-transition: background-color var(--main-delay), color var(--main-delay);
}
.btn-sec {
  background-color: var(--body-color);
  color: #000;
}
.btn-trans {
  background-color: transparent;
  color: #000;
}
.btn-main:hover {
  background-color: #fff;
  color: #000;
}
.btn-sec:hover,
.btn-trans:hover {
  color: #fff;
  background-color: #000;
}
.pointer {
  cursor: pointer;
}

.section-padding {
  padding: 3rem 1rem 2rem;
}

/* ---------------------------------------------------------------- */
nav {
  height: 55px;
  max-height: 55px;
  padding: 0.6rem 0;
  background-color: var(--body-color);
  color: var(--dark-grey-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-logo span {
  font-weight: 600;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
}
.nav-links a {
  font-weight: 500;
  font-size: 0.83rem;
  color: var(--grey-color);
  transition: color var(--main-delay);
  -webkit-transition: color var(--main-delay);
  -moz-transition: color var(--main-delay);
  -ms-transition: color var(--main-delay);
  -o-transition: color var(--main-delay);
}
.nav-links a.active {
  color: var(--accent-color);
}
.nav-links a:hover {
  color: var(--dark-grey-color);
}
.nav-actions {
  font-weight: 400;
}
.heart,
.cart {
  position: relative;
}
.heart::before,
.cart::before {
  content: "0";
  position: absolute;
  right: -10px;
  top: -3px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--body-color);
  border-radius: 50%;
  align-items: center;
  font-size: 0.85rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav-actions svg {
  width: 20px;
}
.my-progress-bar {
  height: 4px;
  background: var(--accent-color);
  width: 0%;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}
/* INFO: Home section */
#home {
  height: 100vh;
}
.home-img {
  padding: 5rem 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 0 2rem 5rem;
  height: 100%;
}
.home-heading h2 {
  font-size: 3.5rem;
  font-weight: 600;
}
.home-heading p {
  font-weight: 500;
}
/* INFO: Best seller section */
#discounts h5 {
  font-size: 2.3rem;
}
#discounts p {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.prod-1 {
  min-height: 650px;
  background-image: url("../assets/product1-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.prod-2 {
  height: 50%;
  min-height: 300px;
  background-image: url(../assets/product2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.prod-3 {
  height: 50%;
  min-height: 325px;
  background-image: url(../assets/product3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
